@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    41873 Sprinter Terrace<br />
    Aldie, VA<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong> <a href="mailto:maremanda.raghu@gmail.com">maremanda.raghu@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Maremandaraghu@gmail.com">maremanda.raghu@gmail.com</a>
</address>
