@page
@model PasswordManager.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<br />
<br />

<form method="post">
    <div class="form-group">
        <label asp-for="Logindetails.Id">Email address</label>
        <input type="email" class="form-control"  name="Logindetails.Id" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Enter the email address associated with your account</small>
    </div>
    <div class="form-group">
        <label asp-for="Logindetails.Value">Password</label>
        <input type="password" class="form-control"  name="Logindetails.Value">
    </div>
    <button type="submit" class="btn btn-primary">Login</button><br /><br />
    <a href="ForgotPassword">Forgot Password?</a><br />
    <a href="NewUser">Register</a><br />     
</form>

